*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
nav, header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 8px blue;
    font-size: 25px;
}
main{
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main button{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    color: white;
    border: solid 6px blue;
    background-color: black;
    border-radius: 8px;
    flex: 1;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    border: solid 4px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.result{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.scoreBoard{
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 20px;
    flex-wrap: wrap;

}
.userScore{
    width: 400px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.computerScore{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}